<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
  <nav th:replace="fragments.html :: main-nav"></nav>
  <nav th:replace="fragments.html :: study-banner"></nav>

  <div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
      <div class="col-6">
        <span class="h2">
          <a href="#" class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
            <span th:text="${study.title}">Study 이름</span>
          </a> / </span>
        <span class="2" th:text="${event.title}"></span>
      </div>

    </div>
  </div>
</body>
</html>