<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<!-- view.html  :  study 의 기본정보를 보여주는 page -->
<!-- banner 를 사용하면 banner 를 보여줌 -->
<div th:replace="fragments.html :: study-banner"></div>

<div class="container">
  <div th:replace="fragments.html :: study-info"></div>
  <div th:replace="fragments.html :: study-menu(studyMenu='settings')"></div>

  <div class="row px-3 justify-content-center">
    <div class="col-2">
      <div th:replace="fragments.html :: study-settings-menu (currentMenu='study')"></div>
    </div>
    <div class="col-8">
      <div th:replace="fragments.html :: message"></div>
      <div class="row">
        <h5 class="col-sm-12">Study 공개 / 종료</h5>
        <form th:if="${!study.published && !study.colsed}" class="col-sm-12" action="#"
              th:action="@{'/study/' + ${study.getPath()} + '/settings/study/publish'}" method="post" novalidate>
          <div class="alert alert-info" role="alert">
            Study 를 공개하시려면 버튼을 클릭하세요.<br>
            소개, 배너 이미지, 주제, 활동지역을 등록했는지 확인하세요. <br>
            Study 를 공개하시면 <br>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">Study 공개</button>
          </div>
        </form>
        <form th:if="${!study.published && !study.colsed}" class="col-sm-12" action="#"
              th:action="@{'/study/' + ${study.getPath()} + '/settings/study/publish'}" method="post" novalidate>
          <div class="alert alert-warning" role="alert">
            Study 를 종료하시려면 버튼을 클릭하세요.<br>

          </div>
          <div class="form-group">
            <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">Study 종료</button>
          </div>
        </form>
        <div th:if="${study.colsed}"class="col-sm-12 alert alert-info">
          이 Study 는 <span class="date-time" th:text="${study.closedDateTime}"></span> 에 종료되었습니다.><br>

        </div>
      </div>
      <hr th:if="${!study.closed && !study.recruiting && study.published}"/>
      <div class="row" th:if="${!study.closed && !study.recruiting && study.published}">
        <h5 class="col-sm-12">Study 구성원 모집</h5>

      </div>
    </div>
  </div>

  <div th:replace="fragments.html :: footer"></div>
</div>

<script type="application/javascript">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

</body>
</html>